---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/direct?appid=6c5c99b9fe2740e781e8c65f7a76a6f6&q=naha,
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"name":"Naha","local_names":{"ur":"ناہا، اوکیناوا","ja":"那覇市","he":"נהה","pl":"Naha","ru":"Наха","en":"Naha","th":"นาฮะ","ascii":"Naha","lt":"Naha","id":"Naha","mr":"नाहा","zh":"那霸市","fr":"Naha","cs":"Naha","es":"Naha","et":"Naha","eu":"Naha","ar":"ناها","de":"Naha","uk":"Наха","ko":"나하
        시","hy":"Նահա","feature_name":"Naha","hu":"Naha"},"lat":26.2122345,"lon":127.6791452,"country":"JP"}]'
  recorded_at: Sat, 02 Sep 2023 18:24:40 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=6c5c99b9fe2740e781e8c65f7a76a6f6&exclude=minutely&lang=ja&lat=26.2122345&lon=127.6791452&units=metric
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":26.2122,"lon":127.6791,"timezone":"Asia/Tokyo","timezone_offset":32400,"current":{"dt":1693679080,"sunrise":1693688995,"sunset":1693734500,"temp":28.05,"feels_like":33.04,"pressure":1005,"humidity":85,"dew_point":25.29,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":7.2,"wind_deg":100,"weather":[{"id":802,"main":"Clouds","description":"雲","icon":"03n"}]},"hourly":[{"dt":1693677600,"temp":28.05,"feels_like":33.04,"pressure":1005,"humidity":85,"dew_point":25.29,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":8.19,"wind_deg":105,"wind_gust":11.37,"weather":[{"id":802,"main":"Clouds","description":"雲","icon":"03n"}],"pop":0.3},{"dt":1693681200,"temp":27.95,"feels_like":32.76,"pressure":1005,"humidity":85,"dew_point":25.19,"uvi":0,"clouds":35,"visibility":10000,"wind_speed":7.72,"wind_deg":106,"wind_gust":10.72,"weather":[{"id":802,"main":"Clouds","description":"雲","icon":"03n"}],"pop":0.03},{"dt":1693684800,"temp":27.85,"feels_like":32.32,"pressure":1005,"humidity":84,"dew_point":24.89,"uvi":0,"clouds":30,"visibility":10000,"wind_speed":7.49,"wind_deg":107,"wind_gust":10.26,"weather":[{"id":802,"main":"Clouds","d[...]
