---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/direct?appid=6c5c99b9fe2740e781e8c65f7a76a6f6&q=naha,
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"name":"Naha","local_names":{"mr":"नाहा","ascii":"Naha","zh":"那霸市","ko":"나하
        시","hy":"Նահա","cs":"Naha","feature_name":"Naha","hu":"Naha","lt":"Naha","id":"Naha","ar":"ناها","pl":"Naha","ur":"ناہا،
        اوکیناوا","ja":"那覇市","uk":"Наха","en":"Naha","et":"Naha","th":"นาฮะ","de":"Naha","ru":"Наха","eu":"Naha","he":"נהה","es":"Naha","fr":"Naha"},"lat":26.2122345,"lon":127.6791452,"country":"JP"}]'
  recorded_at: Sat, 02 Sep 2023 16:02:08 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=6c5c99b9fe2740e781e8c65f7a76a6f6&exclude=minutely&lang=ja&lat=26.2122345&lon=127.6791452&units=metric
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":26.2122,"lon":127.6791,"timezone":"Asia/Tokyo","timezone_offset":32400,"current":{"dt":1693670528,"sunrise":1693688995,"sunset":1693734500,"temp":28.95,"feels_like":34.39,"pressure":1006,"humidity":79,"dew_point":24.94,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":7.72,"wind_deg":110,"weather":[{"id":803,"main":"Clouds","description":"曇りがち","icon":"04n"}]},"hourly":[{"dt":1693670400,"temp":28.95,"feels_like":34.39,"pressure":1006,"humidity":79,"dew_point":24.94,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":8.56,"wind_deg":103,"wind_gust":11.88,"weather":[{"id":803,"main":"Clouds","description":"曇りがち","icon":"04n"}],"pop":0.54},{"dt":1693674000,"temp":28.72,"feels_like":34.17,"pressure":1006,"humidity":81,"dew_point":25.13,"uvi":0,"clouds":76,"visibility":10000,"wind_speed":8.36,"wind_deg":105,"wind_gust":11.4,"weather":[{"id":803,"main":"Clouds","description":"曇りがち","icon":"04n"}],"pop":0.5},{"dt":1693677600,"temp":28.51,"feels_like":33.6,"pressure":1006,"humidity":81,"dew_point":24.93,"uvi":0,"clouds":73,"visibility":10000,"wind_speed":8.24,"wind_deg":105,"wind_gust":11.22,"weather":[{"id":803,"main":"Clouds","[...]
